<app-navbar-top></app-navbar-top>

<div class="bootstrap-wrapper" >
    <div class="container mt">
        <div class="row" >
            <div class="col-md-6 offset-md-3" >
                <div class="container text-center">
                    <img class="img-fluid" width="400px" src="/assets/img/home.png" alt="home-image">
                    <!-- <h1 class="text-center">Services never to forget!!</h1> -->
                    <br>
                    <br>
                    <br>
                    <a routerLink="/login" mat-raised-button color="accent">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</div>


