
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">



    <title>MFPE Bank Portal</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">




</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <app-navbar></app-navbar>
    <!-- End Header -->



    <main id="main">


        <!-- ======= Deposit Amount Section ======= -->
        <section id="depositamount" class="depositamount">
            <div class="container">


                <div class="section-title">
                    <h2>Deposit Amount</h2>
                </div>

            

                <div class="row d-block" data-aos="fade-in">
                    <div class="col-lg-6 ">
                        <div class="deposit Amount">

                            <form #f="ngForm">
                                <div class="form-group">
                                    <label>Enter Customer Account Id:</label>
                                    <select [(ngModel)]=" accountInfo.accountId "  name="accountId " class="form-control " id="accountId " required #accountId="ngModel" >
                                    <!-- <option></option> -->
                                        <option *ngFor="let acc of accounts" value={{acc.accountId}}>{{acc.accountId}}</option>
                                    </select>
                                    <span class="alert alert-danger " *ngIf="!accountId.valid && accountId.touched ">Please enter a valid account Id</span>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label for=" name ">Enter Amount:</label>
                                    <input [(ngModel)]="accountInfo.balance " type="text " name="balance " class="form-control " id="balance " required #balance="ngModel" />
                                    <br>
                                    <span class="alert alert-danger " *ngIf="!balance.valid && balance.touched ">Please enter a valid amount</span>
                                </div>

                                
                                <button (click)="deposit()" type="submit" [disabled]="!f.valid" mat-raised-button color="primary">Deposit</button>
                                <p *ngIf="isDeposited " class="alert alert-success m-2 ">Amount deposited successfully!</p>
                                <button style="margin-left: 10px;" type="reset" mat-raised-button color="warn">Reset</button>
                            </form>
                            

                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End deposit Section -->



    </main>
    <!-- End #main -->

  

    <a href="# " class="back-to-top "><i class="icofont-simple-up "></i></a>


</body>

</html>