<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <link rel="stylesheet" href="../style.css"> -->

  <title>MFPE Bank Portal</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
    
  
		
</head>
<body>
    <!-- <p id="test">in customerdashboard</p> -->
    <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <app-navbar></app-navbar>

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1 style="color:#173B6C;">Hii..Customer</h1>
        <h2 style="color:#173B6C;"> Welcome to MFPE Bank</h2>
    </div>
  </section>

   

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
</body>
</html>