<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" width="400px" src="/assets/img/error.svg" alt="error-status-image">
                    <h1 class="text-center mt">Oops! Something went wrong!</h1>
                    <a routerLink="/customerdashboard" mat-raised-button color="accent">Back to Safety!</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
