
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">



    <title>MFPE Bank Portal.</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <app-navbar></app-navbar>

    <!-- End Header -->


    <main id="main">



        <!-- ======= Delete Customer Section ======= -->
        <section id="deletecustomer" class="deletecustomer">
            <div class="container">

                <div class="section-title">
                    <h2>Delete Customer</h2>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <form #f="ngForm">
                            <div class="form-group">
                                <label>customerId</label>
                                <input [(ngModel)]=" account.customerId " type="text " name="customerId " id="customerId " class="form-control " required #customerId="ngModel" />
                                <br>
                                <span class="help-block " *ngIf="!customerId.valid && customerId.touched ">Please enter a valid customerId</span>
                            </div>
                            <button (click)="deleteCustomer() " type="submit " [disabled]="!f.valid " mat-raised-button color="primary">Delete</button>
                            <p *ngIf="isCustomerDeleted " class="alert alert-success m-2 ">Customer deleted successfully!</p>
                            <!-- <button style="margin-left: 10px;" type="reset" mat-raised-button color="warn">Reset</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Delete Customer Section -->


    </main>
    <!-- End #main -->

    

    <a href="# " class="back-to-top "><i class="icofont-simple-up "></i></a>


</body>

</html>